Repository threshold-network/token-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.js": "eslint --cache --fix"
}

chore: Update eslint and prettier configs to use keep plugins
  .eslintrc.js
  .husky/pre-commit
  .prettierignore
  .prettierrc.js
  package.json
  src/App.tsx
  src/index.tsx
  src/theme.ts
  yarn.lock
Due: eslint --fix, prettier --write, eslint --cache --fix

chore: Add custom theme styling to chakra Button
  src/theme.ts
Due: eslint --fix, prettier --write

chore: Update chakra theme for badge component
  src/theme.ts
Due: eslint --fix, prettier --write

chore: Add chakra theme to storybook with Button component as an example
  .storybook/button.stories.tsx
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/App.tsx
  yarn.lock
Due: eslint --fix, prettier --write, eslint --cache --fix

chore: Update lint command patterns to be more inclusive
  .husky/commit-msg
  .lintstagedrc
  .storybook/main.js
  .storybook/preview.js
  commitlint.config.js
  package.json
  src/App.test.js
  src/react-app-env.d.ts
  src/setupTests.js
  tsconfig.json
Due: eslint --fix, prettier --write, eslint --cache --fix

chore: Add controls for button story
  .storybook/button.stories.tsx
  .storybook/chakraVars.ts
Due: eslint --fix, prettier --write

chore: Add controls for badge and button stories
  .storybook/badge.stories.tsx
  .storybook/button.stories.tsx
  .storybook/chakraVars.ts
  .storybook/main.js
Due: eslint --fix, prettier --write, eslint --cache --fix

feat: Create custom divider component with Icon prop
  .storybook/divider.stories.tsx
  src/components/Divider.tsx
Due: eslint --fix, prettier --write

chore: Cleanup eslintrc and remove empty .ignore files
  .eslintignore
  .eslintrc.js
  .prettierignore
Due: eslint --fix, prettier --write, eslint --cache --fix

feat: Add a github action for deploying storybook to chromatic
  .github/workflows/chromatic.yml
  build-storybook.log
  package.json
  yarn.lock
Due: none

fix: Fix syntax in chromatic yml file
  .github/workflows/chromatic.yml
Due: none

build: Use checkout@v2
  .github/workflows/chromatic.yml
Due: none

refactor: Dry refactor the chromatic yml file
  .github/workflows/chromatic.yml
Due: none

Remove commitlint
  .husky/commit-msg
  commitlint.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, eslint --cache --fix

Use yarn over npm for linting commands
  package.json
Due: none

chore: Add storybook log to .gitignore
  .gitignore
Due: none

Separate theme into a multi-directory component structure
  src/theme/Badge.ts
  src/theme/Button.ts
  src/theme/index.ts
  src/theme/utils.ts
  yarn.lock
Due: eslint --fix, prettier --write

Add darkmode colors to Button theme
  src/theme/Button.ts
  src/theme/utils.ts
Due: eslint --fix, prettier --write

Configure dark mode colors for badge component
  .storybook/badge.stories.tsx
  src/theme/Badge.ts
Due: eslint --fix, prettier --write
